.sell-page img {
    position: absolute; 
    height: 1000px;
    width: 100%;
    object-fit: cover; 
    z-index: -1; 
}
.sell-item-container h1{
    margin-top: 30px;
}

.sell-item-container {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sell-item-container input{
    border-radius: 60px;
    height: 25px;
}
.sell-product-agree{
    margin-top: 10px;
}
.sell-item-container select{
    border-radius: 60px;
    height: 25px;
}
.product-fields button{
    font-weight: 600;
    font-size: 18px;
    height: 55px;
    width: 150px;
    border-radius: 30px;
    margin-left: 450px;
    margin-bottom: 50px;
    cursor: pointer;
}

.product-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    width: 1000px;
}
.image-upload {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    color: black;
    background-color: white;
}
.image-preview {
    margin-top: 10px;
    text-align: center;
    color: white;
    z-index: 1; 
    position: relative; 
}

.image-preview img {
    width: 200px;
    height: 200px;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 2;
    position: relative;
}
